{% extends "layout.html" %}

{% block main %}

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <h2>Collections</h2>
    <table>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Book Title</th>
          <th>Author</th>
          <th>Type</th>
          <th>Publisher</th>
          <th>Published Date</th>
          <th>Synopsis</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book_details_list %}
        <tr>
          <td>{{ book[0] }}</td>
          <td>{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>{{ book[3] }}</td>
          <td>{{ book[4] }}</td>
          <td>{{ book[5] }}</td>
          <td>{{ book[6] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}