<!DOCTYPE html>
<html>

<head>
  <title> </title>
</head>

<body>
  <h1> </h1>
  <form method="POST">
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" id="isbn" required>
    <label>
      <input type="radio" name="copy_type" value="Hardcopy" required> Hardcopy
    </label>
    <label>
      <input type="radio" name="copy_type" value="Softcopy" required> Softcopy
    </label>

    <button type="submit">Submit</button>
  </form>

  <h2>Book Details</h2>
  <table>
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publisher</th>
        <th>Published Date</th>
        <th>Synopsis</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_details_list %}
      <tr>
        <td>{{ book[0] }}</td>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>{{ book[4] }}</td>
        <td>{{ book[5] }}</td>
        <td>{{ book[6] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>